<h1>My Jupyter Notebook on IBM Watson Studio</h1>

<h2>NIRMALRAJ A R</h2>
SOFTWARE ENGINEER

I am interested in data science because this is the growing and highest paying job in India and also all over the world

<h3>Simple Addition Program</h3>

In [1]:
a = 55
b= 35
c = a+b
print(c)

90

<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <tr>
        <td>Arjun</td>
        <td>23</td>
    </tr>
    <tr>
        <td>Vijay</td>
        <td>27</td>
    </tr>
</table>
<ul>
    <li>Java</li>
    <li>Python</li>
    <li>C++</li>
</ul>
<a href="https://www.coursera.org/">Coursera</a>